<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>PRISM</title>

    <meta name="keywords" content="PRISM, Volume Rendering, IBIS Neuronav"/>
    <meta name="description" content="Official web page of the Programmable Ray Integration Shading Model (PRISM)"/>

    <meta name="Publisher" content="© 2002-2016 NIST laboratory, McGill University. All rights reserved."/>
    <meta name="Copyright" content="© 2002-2016 NIST laboratory, McGill University. All rights reserved."/>
    <meta name="Author" content="Simon Drouin"/>
    <meta name="Robots" content="All"/>
    <meta name="revisit-after" content="30 days"/>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/github-dark.css">
    <link rel="stylesheet" href="/stylesheets/style-ibis.css">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
    
<body>

<div class="wrapper">

<section>

<!-- logo -->
<div style="width: 70px; height: 70px; padding-right: 20px; float: left;">
  <img src="/images/ibis-logo-red-shaded-200x200.png" width=70px />
</div>

<!-- Title -->
<div id="title">
  <h1>PRISM</h1>
  <hr>
</div>

{{ content }}
    
</section>

</div>
<!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
</body>
</html>